    .resim1
{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    opacity: 0.3;
    filter:alpha(opacity=30);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    opacity:0.5;
}
